<h1>Members</h1>

<div>
<table>
  <tr>
    <th>id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Membership</th>
  </tr>

  <% for member in @members %>

  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.id %></a></td>
    <td><%= member.first_name %></td>
    <td><%= member.last_name%></td>
    <td><%= member.membership_type %></td>
  </tr>
  <% end %>
</table>
<div>

<br></br>

<div>
<button class="btn btn--action" onclick="window.location.href='/members/new'">New Member</button>
<div/>
