<h2><%= @member.full_name %></h2>

<h3>Membership: <%=  @member.membership_type%></h3>

<button class="btn btn--action" onclick="window.location.href='/members/<%= @member.id %>/edit'">Edit</button>

<form action="/members/<%= @member.id %>/delete" method="POST"><input class="btn btn--action" type="submit" value="Delete"></form>

<br></br>

<table>
  <tr>
    <th>Classes booked on:</th>
  </tr>
  <td>
    <% @member.group_classes_upcoming.each do |group_class| %>
    <li><%= group_class.class_name %> - <%= group_class.class_date %></li>
    <% end %>
  </td>
</table>

<button class="btn btn--action" onclick="window.location.href='/members/<%= @member.id %>/class_history'">Previous History</button>
