<h2><%= @group_class.class_name %></h2>

<h3>Details:</h3>
<h4>Start time: <%= @group_class.start_at %></h4>
<h4>End time: <%= @group_class.end_at %></h4>
<h4>Date: <%= @group_class.class_date %></h4>


<table>
  <tr>
    <th>Members booked in:</th>
  </tr>
  <td>
    <% @group_class.members.each do |member| %>
    <li><%= member.full_name %></li>
    <% end %>
  </td>
</table>

<button class="btn btn--action" onclick="window.location.href='/group_classes/<%= @group_class.id %>/edit'" >Edit</button>

<form action="/group_classes/<%= @group_class.id %>/delete" method="post">
  <input class="btn btn--action" type="submit" value="Delete">
</form>
