<h1>Make a new booking below</h1>

<form id="booking-form" action="/bookings" method="post">

  <div>
    <label>Select member:</label>
      <select name="member_id">
        <% for member in @members %>
        <option value="<%= member.id %>"><%= member.full_name %></option>
        <% end %>
      </select>
  </div>

  <div>
    <label>Select class:</label>
      <select name="group_class_id">
        <% for group_class in @group_classes %>
        <option value="<%= group_class.id %>">
          <%= group_class.class_date %> - <%= group_class.class_name %>
        </option>
        <% end %>
      </select>
  </div>

  <div id="submit">
    <input class="btn btn--action" type="submit" value="Complete!">
  </div>

</form>
