<h1>Make a new booking below</h1>

<form id="booking-form" action="/bookings" method="post">

<h2>Premium Bookings</h2>
  <div>
    <label>Select member:</label>
      <select name="member_id">
        <% for member in @members %>
        <% if member.is_member_premium == true %>
          <option value="<%= member.id %>"><%= member.full_name %></option>
        <% end %>
        <% end %>
      </select>
  </div>
  <div>
    <label>Select class:</label>
    <select name="group_class_id">
      <% for group_class in @group_classes %>
        <% if group_class.class_is_full == true %>
          <option value="<%= group_class.id %>"disabled>
            <%= group_class.class_date %> - <%= group_class.class_name %>: CLASS FULL
          </option>
        <% else %>
          <option value="<%= group_class.id %>">
            <%= group_class.class_date %> - <%= group_class.class_name %>
          </option>
        <% end %>
        <% end %>
    </select>
  </div>
  <div id="submit">
    <input class="btn btn--action" type="submit" value="Complete!">
  </div>
</form>

<br></br>

<form id="booking-form" action="/bookings" method="post">

<h2>Off-Peak Bookings</h2>
  <div>
    <label>Select member:</label>
      <select name="member_id">
        <% for member in @members %>
        <% if member.is_member_premium == false %>
          <option value="<%= member.id %>"><%= member.full_name %></option>
        <% end %>
        <% end %>
      </select>
    </div>
    <div>
      <label>Select class:</label>
      <select name="group_class_id">
        <% for group_class in @group_classes %>
        <% if (group_class.class_is_full == true) %>
          <option value="<%= group_class.id %>"disabled>
            <%= group_class.class_date %> - <%= group_class.class_name %>: CLASS FULL
          </option>
        <% elsif (group_class.off_peak_class == false) %>
          <option value="<%= group_class.id %>"disabled>
            <%= group_class.class_date %> - <%= group_class.class_name %>: UPGRADE
          </option>
        <% else group_class.off_peak_class == true %>
          <option value="<%= group_class.id %>">
            <%= group_class.class_date %> - <%= group_class.class_name %>
          </option>
        <% end %>
        <% end %>
      </select>
    </div>


  <div id="submit">
    <input class="btn btn--action" type="submit" value="Complete!">
  </div>

</form>
